<%
  insert_image_url =  refinery.insert_admin_images_path({
                  :dialog => true, :width => 950, :height => 510,
                  :callback => "image_added"
                })
%>
<div class='wym_area_top'>
  <span class='clearfix label_inline_with_link'>
    <%= action_icon :add, insert_image_url, t('.add'), id: "add_image_link" %>
  </span>
</div>
